.background {
  background-image: url('./../../../assets/img/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background > div {
  display: flex;
  flex-direction: column;
}

#background-image {
  width: 200px;
  height: 200px;
  margin: auto;
  padding-bottom: 25px;
}
